{block content && action}
<div class="statusPost"><a n:href="Post:show $post->status">{$post->status}</a></div>
<div class="viewsAdd"><a n:href="Post:show $post->views">{$post->views}</a></div>
<h1>CONNECTION BLOCKED ! > ARCHIVED POST !</h1>
<p>Please go back to the main page, this post is archived.</p>